<div class="EntryGrid">
    {% for deity in site.data.pantheon %} {% if deity.group == include.group %}
    <details>
        <summary>
            <div class="title">
                <h2>
                    <a href="{{deity.name | downcase | slugify}}"
                        >{{deity.name}}</a
                    >
                </h2>
                <p>{{deity.domains}}</p>
            </div>
            <span>{{ deity.short_desc }}</span>
        </summary>

        <p>{{ deity.long_desc }}</p>
    </details>
    {% endif %} {% endfor %}
</div>
