<div class="deitiesGrid">
    <h4 class="deityThinRow" style="text-align: center; margin-bottom: 0px">
        Ordered
    </h4>
    <h4 class="deityThinRow" style="text-align: center; margin-bottom: 0px">
        Chaotic
    </h4>

    {% for deity in site.data.pantheon %} {% if deity.table_class %}
    <div class="{{deity.table_class}}">
        <a href="{{deity.name | downcase | slugify}}"
            >{{deity.name}}{% if deity.subname %}, {{deity.subname}}{% endif
            %}</a
        >
        <div class="deityDescription">{{deity.domains}}</div>
    </div>
    {% endif %} {% endfor %}
</div>
