<!doctype html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap"
            rel="stylesheet"
        />

        <meta charset="utf-8" />
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/wiki.css" />
    </head>
    <body>
        <div id="nav_and_title">
            <h1>{{ page.title }}</h1>
            {% include navigation.html %}
        </div>

        <div id="content">{{ content }}</div>

        <footer>
            <div>
                Developed & maintained by
                <a href="https://thegrimsey.net">TheGrimsey</a><br />
            </div>
            <div>
                Wiki Last Updated: {{ site.time | date: '%Y-%m-%d %H:%M'}}
            </div>
        </footer>
    </body>
</html>
